---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SearchComponent from "@components/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const searchList = await getSortedPosts(posts);
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchComponent client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
